{{#extend "base" title='Car Trading System - Create Order'}} {{#content "main-content"}}
<h1>Your New Order</h1>
<table class="table">
    <tr>
        <td>Name</td>
        <td>{{car.name}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{car.description}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{car.price}} ETH</td>
    </tr>
    <tr>
        <td>Buyer's Address</td>
        <td>{{loginAddress}}</td>
    </tr>
</table>
<br/>
<form action="/buy" method="POST">
    <input type="hidden" name="carId" value="{{car.carId}}"/>
    <p>Enter your private key to submit the order.</p>
    <div class="form-group">
        <label for="privateKeyInput">Private Key</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">0x</span>
            </div>
            <input type="text" id="privateKeyInput" name="privateKey" required="required" pattern="^[0-9A-Fa-f]{64}$" title="Private key must be a 256-bit hex string." class="form-control" placeholder="ABCDEF..." aria-label="Private Key" aria-describedby="basic-addon1">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br/><br/>
    {{#if errorMessage}}
        <p class="text-danger">{{errorMessage}}</p>
    {{/if}}
</form>
{{/content}} {{/extend}}