{{#extend "base" title='Car Trading System - Cancel Order'}} {{#content "main-content"}}
<h1>Cancel Order</h1>
<table class="table">
    <tr class="collapse">
        <td>Order Index</td>
        <td>{{order.index}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{order.car.name}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{order.car.description}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{order.car.price}} ETH</td>
    </tr>
    <tr>
        <td>Buyer's Address</td>
        <td>{{order.buyerAddress}}</td>
    </tr>
    <tr>
        <td>Processing Status</td>
        <td>{{order.status}}</td>
    </tr>
</table>
<br/>
<form action="/cancel" method="POST">
    <input type="hidden" name="orderIndex" value="{{order.index}}"/>
    <p class="text-warning">WARNING: You must notify the buyer before cancel his/her order.</p>
    <p>Enter your private key to cancel the order.</p>
    <div class="form-group">
        <label for="privateKeyInput">Private Key</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">0x</span>
            </div>
            <input type="text" id="privateKeyInput" name="privateKey" required="required" pattern="^[0-9A-Fa-f]{64}$" title="Private key must be a 256-bit hex string." class="form-control" placeholder="ABCDEF..." aria-label="Private Key" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="form-group">
        <label for="compensationValueInput">Compensation Value</label>
        <div class="input-group">
            <input type="number" id="compensationValueInput" name="compensationValue" value="{{default compensationValue 0}}" min="0" max="1000000000" required="required" pattern="^(0|[1-9]\d*)$" title="Compensation value must be an integer." class="form-control" aria-label="Compensation value" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Wei</span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-danger">Cancel</button>
    <br/><br/>
    {{#if errorMessage}}
        <p class="text-danger">{{errorMessage}}</p>
    {{/if}}
</form>
{{/content}} {{/extend}}