{{#extend "base" title='Car Trading System - Home'}} {{#content "main-content"}}
    <div class="car-area d-flex justify-content-around">
        {{#each cars}} {{#gt this.quantity 0}}
        <div class="card mx-1">
            <img class="card-img-top" src="/images/{{this.imageFileName}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p class="price">Price: {{this.price}} ETH</p>
                <a href="/buy?carId={{this.carId}}" ><button class="btn btn-info btn-buy">Buy</button></a>
            </div>
        </div>
        {{/gt}} {{/each}}
    </div>
{{/content}} {{/extend}}